{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
        // "useBuiltIns": "usage", // 按需引入 polyfill
        // "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
